<ion-view view-title="Public" name="dashboard-view">
  <ion-content class="padding">
      This is open for everyone!
	  
	  <ion-list>
  		  <ion-item>
  		  	<h2><strong>Tiago</strong></h2>
          <h3 class="email">
            <a href="mailto:tiago.avila09@gmail.com" class="button button-positive button-small">
              <i class="icon ion-email"></i>
            </a>
            tiago.avila09@gmail.com
          </h3>
          <h3 class="phone-number">
            <a href="tel:992183713" class="button button-positive button-small">
              <i class="icon ion-ios-telephone"></i>
            </a>
            992183713
          </h3>
          <h4><strong>Cpf/Cnpj:&nbsp;</strong>123</h4>
          <h4><strong>Endereço:&nbsp;</strong>fdfd</h4>
  		  </ion-item>
		  </ion-list>
	  
  </ion-content>
</ion-view>